* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

input,
button,
.link-btn {
  font-size: 22px;
}

button,
.link-btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
  border: none;
}

.link-btn {
  $height: 60px;
  display: inline-block;
  height: $height;
  line-height: $height / 2;
  padding: $height/4 40px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  grid-column: 1 / -1;
}

.wrapper {
  width: 100%;
  // overflow: hidden;
  height: 100%;

  &:first-child {
    background-color: #ccc;
  }

  &:last-child {
    background-color: #ccc;
  }
}

.page-section {
  border: 1px solid black;
  height: 100%;


  .page-section__grid {
    justify-content: center;
    display: grid;
    grid-gap: 0px 12px;
    grid-template-columns: repeat(12, minmax(60px, 80px));
    margin: 0 auto;
    padding: 30px 0;
     width: 90%;
    max-width: 1092px;
    min-width: 819px;
    height: 100%;

  }

  .middle-content {
    grid-column: 1 / -1;
    text-align: center;
  }

  &:first-of-type {
    background-image: url("/assets/img/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:last-of-type {
    background-color: #ccc;
  }
}

.header-title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.share-info {
  grid-column: 5 / -5;
  text-align: center;
}

.promo-text {

  font-size: 80px;
}

.domain-check {
  grid-column: 1 / -1;
  text-align: center;
  width: 720px;
  margin: 60px auto 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  align-self: start;

  .domain-check__input {
    width: 100%;
    // background-color: #fff;
    // border-radius: 8px;
    position: relative;

    input {
      width: 100%;
      height: 80px;
      padding: 25px 35px;
      border-radius: 8px;
      border: none;
    }

    button {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 10px 28px;
    }
  }

  .domain-check__output {
    margin: 0;
    padding: 15px;
  }
}

.page-down {
  background-image: url("/assets/img/down.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 27px;
  height: 50px;
  grid-column: 6 / -6;
  justify-self: center;
  align-self: end;
}

.pagination {
  position: fixed;
  top: 45%;
  right: 0;
  display: flex;
  flex-direction: column;

  .pagination__sircle {
    background-color: #000;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 7px;
    margin-bottom: 7px;
  }
}
