* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px "PT Sans",Arial,Helvetica,sans-serif;
}

input,
button,
.link-btn {
  font-size: 22px;
}

button,
.link-btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
  border: none;
}

.link-btn {
  $height: 60px;
  display: inline-block;
  height: $height;
  line-height: $height / 2;
  padding: $height/4 40px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  grid-column: 1 / -1;
}

.wrapper {
  width: 100%;
  // overflow: hidden;
  height: 100%;
}

.page-section {
  border: 1px solid black;
  height: 100%;
  overflow: hidden;


  .page-section__grid {
    justify-content: center;
    display: grid;
    grid-gap: 0px 12px;
    grid-template-columns: repeat(12, minmax(60px, 80px));
    margin: 0 auto;
    padding: 30px 0;
    width: 90%;
    max-width: 1092px;
    min-width: 819px;
    height: 100%;

    .middle-content,
    .section-title,
    .advantages,
    .description-text,
    .promo-block,
    .footer-privacy {
      grid-column: 1 / -1;
      text-align: center;
    }

    .header-title {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    .share-info {
      grid-column: 5 / -5;
      text-align: center;
    }

    .page-down {
      background-image: url("/assets/img/down.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 27px;
      height: 50px;
      grid-column: 6 / -6;
      justify-self: center;
      align-self: end;
    }

    .footer-privacy {
      justify-self: center;
      align-self: end;

      a {
        color: #fff;
      }
    }

  }

  &:first-of-type {
    background-image: url("/assets/img/background1.jpg");
    color: #fff;
  }

  &:last-of-type {
    background-image: url("/assets/img/background2.jpg");
    color: #fff;
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-text {
  font-size: 80px;
}

.domain-check {
  grid-column: 1 / -1;
  text-align: center;
  width: 720px;
  margin: 60px auto 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  align-self: start;

  .domain-check__input {
    width: 100%;
    // background-color: #fff;
    // border-radius: 8px;
    position: relative;

    input {
      width: 100%;
      height: 80px;
      padding: 25px 35px;
      border-radius: 8px;
      border: none;
    }

    button {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 10px 28px;
    }
  }

  .domain-check__output {
    margin: 0;
    padding: 15px;
  }
}

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .advantages__item {
    flex: 0 0 25%;
  }

  .advantages__item-title {
    padding: 0 5px;
  }
}

.advantages__item-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;

  .advantage-business-card & {
    background-image: url("/assets/img/features/businesscard.svg");
  }
  .advantage-dns & {
    background-image: url("/assets/img/features/dns.svg");
  }
  .advantage-certificate & {
    background-image: url("/assets/img/features/certificate.svg");
  }
  .advantage-autorenewal & {
    background-image: url("/assets/img/features/autorenewal.svg");
  }
  .advantage-cloud & {
    background-image: url("/assets/img/features/cloud.svg");
  }
  .advantage-freessl & {
    background-image: url("/assets/img/features/freessl.svg");
  }
  .advantage-dnssec & {
    background-image: url("/assets/img/features/dnssec.svg");
  }
  .advantage-redirect & {
    background-image: url("/assets/img/features/redirect.svg");
  }
}

.pagination {
  position: fixed;
  top: 45%;
  right: 0;
  display: flex;
  flex-direction: column;

  .pagination__sircle {
    background-color: #000;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 7px;
    margin-bottom: 7px;
  }
}
